/* CSTM CSS
Created by Avaid Studio
With Productivity 
*/

// Initialize all Components
// @use "parts/navbar";
// @use "parts/sidebar";
@use "parts/flex-grid" as flex-grid;
@use "parts/color-var";
@use "parts/color" as color;

/* Root Top */
:root{
    font-family: 'Roboto', sans-serif;

    /* Colors */
    @include color.colorVariables;
}

body{
    background: #fff;
}

/* Colors */
@include color.backgroundColors;

/* Flex Display */
@include flex-grid.flexDisplay;

.bg {
    width: 8rem;
    height: 10rem;
    padding: 1rem;
}